<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->
  <name>3D Reference</name>
  <description>Target reference for 3D archery</description>
  <author email="a.williams1969@gmail.com" href="">Andy Williams</author>
  
  
  <platform name="android">
	<icon src="assets/icon.png" density="xxhdpi" />
    <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
    <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
	<splash src="res/screen/android/splash-port-xxhdpi.png" density="port-xxhdpi"/>
	<splash src="res/screen/android/splash-port-xxxhdpi.png" density="port-xxxhdpi"/>
</platform>

</widget>